<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4231447075-ctr00igi6d3lqr93ubvd2mi2k6rssmep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4231447075-ctr00igi6d3lqr93ubvd2mi2k6rssmep</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>4231447075-k6nqqdrgfj29mpd6lkhqhagr3hg8kkpt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBAR3jS7CYb_THzAU8HMLttIu7ePgWDI0</string>
	<key>GCM_SENDER_ID</key>
	<string>4231447075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.stwerkstatt.svPullachFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>svpullachcloudapp</string>
	<key>STORAGE_BUCKET</key>
	<string>svpullachcloudapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4231447075:ios:3cb925a32bcfe7a6</string>
	<key>DATABASE_URL</key>
	<string>https://svpullachcloudapp.firebaseio.com</string>
</dict>
</plist>